body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h2
{
	padding-left: 15px;
}

.modal-content span
{
	padding-right: 15px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#titlefield input,#titlefield textarea
{
  width: 90%;
  font-size: 18px;
  margin-top: 2px;
  border-radius: 3px;
  border-width: 1px;
  border-color: grey;
  padding-left: 15px;
  margin-left: 15px;
}

#titlefield p
{
	margin-bottom: 10px;
	padding-left: 20px;
}

#dropdown p
{
	padding-left: 15px;
}

#dropdown select
{
	width: 8%;
	border-radius: 3px;
  	border-width: 1px;
  	border-color: grey;
  	
}

#dropdown option
{
	margin-left: 2px;
}

#parameters
{
	background-color: #cdd0d6;
	width: cover;
	padding-left: 15px;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.ruleParameter input
{
	width: 90%;
  	font-size: 15px;
  	margin-top: 2px;
  	margin-left: 15px;
  	border-radius: 3px;
  	border-width: 1px;
  	border-color: grey;
  	font-style: italic;
}

.ruleParameter
{
	width: 75%;
	display: inline-block;
	padding-left: 15px;
	margin-left: -10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.rulefields {
  border: 1px solid grey;
  background-color: white;
  border-radius: 3px;
  padding-left: 0px;
  margin-bottom: 7px;
  position:relative;
}

.newfields 
{
	border: 1px solid grey;
  background-color: white;
  border-radius: 3px;
  padding-left: 0px;
  position:relative;	
}

.ruleinput 
{
  width:100%;
  padding: 0.2em; padding-right: 7px; 
  border:0; 
}

.ruleinput2
{
  width:100%;
  padding: 0.2em; padding-right: 7px; 
  border:0; 
}

.ruleadd
{
	 position:absolute;
	 right:1em; 
	 top:50%; transform:translateY(-50%);
	 border:none;
	 background-color: white;
	 color: blue;
}

.ruleremove
{
	position:absolute;
	 right:1em; 
	 top:50%; transform:translateY(-50%);
	 border:none;
	 background-color: white;
	 color: red;
}



#parameters select
{
	width: 8%;
	border-radius: 3px;
  	border-width: 1px;
  	border-color: grey;
  	position: center;
}

.add
{
	border-radius: 120px;
	border-width: 1.4px;
	border-color: black;

	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.add:hover {
  background-color: black; 
  color: white;
}

.remove
{
	border-radius: 100px;
	border-width: 1.4px;
	border-color: black;

	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.remove:hover {
  background-color: black; 
  color: white;
}


#revenue p
{
	padding-left: 15px;
}

#revenue input
{
	border-radius: 3px;
	border-width: 1px;
	border-color: grey;
}



#confirm 
{
	margin-left: 15px;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

	border-radius: 3px;
  	border-width: 1px;
  	border: none;

  	background-color: #f4840c;
  	color: white;

  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

#confirm:hover {
  background-color: #4CAF50; /* Green */
  color: black;
}

#cancel
{
	color: white;
	background-color: #4f5359;
	margin-left: 10px;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

	border-radius: 3px;
  	border-width: 1px;
  	border: none;

  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

#cancel:hover {
  background-color: #d30a14; /* Red */
  color: black;
}


